{% extends 'LoisteMinesweeperBundle::base.html.twig' %}
{% block aside %}
{% if status != 1 %}
    <div id="gameAside">
        <ul>
            <li><a href="{{ path('LoisteMinesweeperBundle_start') }}">game</a></li>
        </ul>
    </div>
{% endif %}
{% endblock %}                                    
{% block body %}
    {% if status == 1 %}
        <script>
        $(document).ready(function () { 
            $("#game-container").hide();
            $("#first").hide();
            $("#game-container").fullscreen();
            $("#game-container").setGameClick();
            $("#game-container").setGameSize();

            $("#first").show();
            $("#game-container").show();
            
            $(window).resize(function() {
            $("#game-container").setGameSize();
         });
         
        });
        </script>
   {% endif %}
    <article class="blog">
        <audio id="beep">
            <source src="{{ asset('bundles/loisteminesweeper/audio/beep.mp3') }}"/>
            <source src="{{ asset('bundles/loisteminesweeper/audio/beep.ogg') }}"/>
        </audio>
        <audio id="boom">
            <source src="{{ asset('bundles/loisteminesweeper/audio/boom.mp3') }}"/>
        </audio>

        <div id="game-container" >
            <table id="game" data-route-make-move="{{ path('LoisteMinesweeperBundle_makeMove') }}">
    {% for row in 0..(rows-1) %}
                    <tr>
        {% for column in 0..(columns-1) %}
        {# Define variables. #}
        {% set gameObject = gameArea[row][column] %}
        {% set type = gameObject.type %}

                            <td class="game-cell" data-type="{{ type }}">
            {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_NUMBER') %}
                                    <img src="{{ asset('bundles/loisteminesweeper/images/' ~ gameObject.number ~ '.png') }}" alt="n" />
            {% endif %}

            {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_MINE_DISCOVERED') %}
                                    <img class="mine" src="{{ asset('bundles/loisteminesweeper/images/mine.png') }}" alt="x" />
            {% endif %}

            {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_EXPLOSION') %}
                                    <img class="mine" src="{{ asset('bundles/loisteminesweeper/images/explosion.png') }}" alt="X"/>
            {% endif %}

            {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_UNDISCOVERED') or type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_MINE') %}

                                    <img src="{{ asset('bundles/loisteminesweeper/images/cell.png') }}" alt="Q" />

            {% endif %}

            {% if type == constant('Loiste\\MinesweeperBundle\\Model\\GameObject::TYPE_EMPTY') %}

                                    <img src="{{ asset('bundles/loisteminesweeper/images/empty.png') }}" alt="-" />

            {% endif %}
                                </td>
        {% endfor %}
                            </tr>
    {% endfor %}
                        </table>
{#Game won #}
{% if status == 2 %}
                <script>
                        $(document).ready(function () {
                         $('.game-cell').each(function(index) {
                              $(this).unbind('click');
                         });
                    });   
                    </script>
                        <div id="info">
                            <h1> YOU WON!!!!!!!!!!</h1>
                                <a href="{{ path('LoisteMinesweeperBundle_start') }}">New game</a>
                        </div>
            <script>
             $(document).ready(function () { 
                
                // $(document).removeExtra();
                $("#game-container").fullscreen();
                $("#game-container").setGameSize(); 
                $("#info").gameOver();

                $(window).resize(function() {
                    $("#game-container").setGameSize();
                });

            });
            </script>
{% endif %}

{# Game lost #}
{% if status == 3 %}

                        <div id="info">               
                            <h1>You Lost!!!!!!!!!!</h1>
 
                                <div id="newGame">
                                <a href="{{ path('LoisteMinesweeperBundle_start') }}">New game</a>
                                </div>
                        </div>
            <script>
             $(document).ready(function () { 
                // $(document).removeExtra();
                $("#game-container").fullscreen();
                $("#game-container").setGameSize(); 
                $("#info").gameOver();

                $(window).resize(function() {
                    $("#game-container").setGameSize();
                });
                var audio = $("#boom")[0];
                audio.play();
            });
            </script>
                        

{% endif %}

{#show game settings #}
{% if status == 0 %}
                    <div id="info">
                        <h3> Minesweeper !!!</h3> 
                       <form action="{{ path('LoisteMinesweeperBundle_start') }}" method="post" {{ form_enctype(form) }}>
                        {{ form_widget(form) }}

                                <input type="submit" value="Play" class="button"/>

                        </form>
                    </div>

        {% endif %} 
                        </div>
                    </article>
            <script>
                $(document).ready(function () {
                     $("#game-container").setGameSize(); 
                    $(window).resize(function() {
                       $("#game-container").setGameSize();
                    });
                });   
            </script>
{% endblock %}